pkgbase = wlroots
	pkgdesc = Modular Wayland compositor library
	pkgver = 0.17.4
	pkgrel = 3
	url = https://gitlab.freedesktop.org/wlroots/wlroots
	arch = aarch64
	license = MIT
	makedepends = glslang
	makedepends = meson
	makedepends = ninja
	makedepends = systemd
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = xorg-xwayland
	makedepends = android-headers
	depends = libdisplay-info.so
	depends = libglvnd
	depends = libinput
	depends = liblcms2.so
	depends = libliftoff.so
	depends = libpixman-1.so
	depends = libseat.so
	depends = libudev.so
	depends = libvulkan.so
	depends = libwayland-client.so
	depends = libwayland-server.so
	depends = libxcb
	depends = libxkbcommon.so
	depends = opengl-driver
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = libdroid
	depends = libhybris
	depends = libdroid
	optdepends = xorg-xwayland: Xwayland support
	provides = libwlroots-0.17.so
	source = git+https://github.com/droidian/wlroots.git
	sha256sums = SKIP

pkgname = wlroots
