pkgbase = pulseaudio
	pkgdesc = A featureful, general-purpose sound server
	pkgver = 14.2
	pkgrel = 2
	url = https://www.freedesktop.org/wiki/Software/PulseAudio/
	arch = aarch64
	license = LGPL-2.1-or-later
	makedepends = libasyncns
	makedepends = libcap
	makedepends = attr
	makedepends = libxtst
	makedepends = libsm
	makedepends = libsndfile
	makedepends = rtkit
	makedepends = libsoxr
	makedepends = speexdsp
	makedepends = tdb
	makedepends = systemd
	makedepends = dbus
	makedepends = avahi
	makedepends = bluez
	makedepends = bluez-libs
	makedepends = jack2
	makedepends = sbc
	makedepends = lirc
	makedepends = openssl
	makedepends = fftw
	makedepends = orc
	makedepends = gtk3
	makedepends = webrtc-audio-processing-1
	makedepends = check
	makedepends = git
	makedepends = meson
	makedepends = xmltoman
	makedepends = doxygen
	source = git+https://github.com/droidian/pulseaudio.git
	source = build-sys-meson-Add-missing-include-dir.patch
	source = 0001-meson-add-pulsecore.pc.in.patch
	sha256sums = SKIP
	sha256sums = afd7d4b1991636d7e72ee80df609a609071309d331adaa933af9582010411426
	sha256sums = 5b2a3683b911108e43401038eaf9789b45ddde9f027f04776c492c20efb8bdae

pkgname = pulseaudio
	install = pulseaudio.install
	depends = libpulse
	depends = rtkit
	depends = libltdl
	depends = speexdsp
	depends = tdb
	depends = orc
	depends = libsoxr
	depends = webrtc-audio-processing
	depends = libxtst
	optdepends = pulseaudio-alsa: ALSA configuration (recommended)
	optdepends = pulseaudio-zeroconf: Zeroconf support
	optdepends = pulseaudio-lirc: IR (lirc) support
	optdepends = pulseaudio-jack: Jack support
	optdepends = pulseaudio-bluetooth: Bluetooth support
	optdepends = pulseaudio-equalizer: Graphical equalizer
	optdepends = pulseaudio-rtp: RTP and RAOP support
	backup = etc/pulse/daemon.conf
	backup = etc/pulse/default.pa
	backup = etc/pulse/system.pa

pkgname = libpulse
	pkgdesc = A featureful, general-purpose sound server (client library)
	depends = dbus
	depends = libasyncns
	depends = libcap
	depends = libxcb
	depends = libsm
	depends = libsndfile
	depends = systemd
	optdepends = glib2: mainloop integration
	provides = libpulse.so
	provides = libpulse-simple.so
	provides = libpulse-mainloop-glib.so
	backup = etc/pulse/client.conf

pkgname = pulsecore
	pkgdesc = PulseAudio client development headers and libraries (out of tree modules support)
	depends = pulseaudio
	depends = libpulse

pkgname = pulseaudio-zeroconf
	pkgdesc = Zeroconf support for PulseAudio
	depends = pulseaudio
	depends = avahi
	depends = openssl

pkgname = pulseaudio-lirc
	pkgdesc = IR (lirc) support for PulseAudio
	depends = pulseaudio
	depends = lirc

pkgname = pulseaudio-jack
	pkgdesc = Jack support for PulseAudio
	depends = pulseaudio
	depends = jack

pkgname = pulseaudio-bluetooth
	pkgdesc = Bluetooth support for PulseAudio
	depends = pulseaudio
	depends = bluez
	depends = bluez-libs
	depends = sbc

pkgname = pulseaudio-equalizer
	pkgdesc = Graphical equalizer for PulseAudio
	depends = pulseaudio
	depends = python-pyqt5
	depends = python-dbus
	depends = fftw

pkgname = pulseaudio-rtp
	pkgdesc = RTP and RAOP support for PulseAudio
	depends = pulseaudio
