pkgbase = libhybris
	pkgdesc = Allows use of bionic-based HW adaptations
	pkgver = 0.0.5.53
	pkgrel = 2
	url = https://github.com/libhybris/libhybris
	arch = aarch64
	license = Apache-2.0
	license = BSD-2-Clause
	license = BSD-3-Clause
	license = BSD-4-Clause
	license = GPL-3.0-or-later
	license = ISC
	license = LGPL-2.1-only
	license = MIT
	makedepends = android-headers
	makedepends = wayland
	makedepends = wayland-protocols
	makedepends = libx11
	makedepends = libxcb
	makedepends = libxext
	makedepends = binutils
	makedepends = patchelf
	makedepends = python
	makedepends = pkgconf
	makedepends = mesa
	depends = libglvnd
	source = git+https://github.com/droidian/libhybris.git
	source = 0002-Fix-gralloc-wrapper-include-file-installation.patch
	sha256sums = SKIP
	sha256sums = 75de53d880ad70cc37d82772f9331884a310ac952e22262dca70b8b34fb8a1bb

pkgname = libhybris
