pkgbase = droidmedia
	pkgdesc = Android media wrapper library
	pkgver = 0.20241121.0
	pkgrel = 1
	url = https://github.com/sailfishos/droidmedia
	arch = aarch64
	license = Apache-2.0
	makedepends = meson
	options = staticlibs
	source = git+https://github.com/sailfishos/droidmedia.git
	sha256sums = SKIP

pkgname = droidmedia
