pkgbase = mobile-power-saver
	pkgdesc = Mobile Power Saver enable hard power saving when screen is off.
	pkgver = 0.9.3
	pkgrel = 2
	url = https://github.com/droidian/mobile-power-saver
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = meson
	depends = libgbinder-radio
	depends = libnl
	depends = systemd
	depends = dconf
	source = git+https://github.com/droidian/mobile-power-saver.git
	sha256sums = SKIP

pkgname = mobile-power-saver
