pkgbase = aarchd-mirrorlist
	pkgdesc = AArchD mirror list
	pkgver = 1.0
	pkgrel = 1
	url = http://aarchd.github.io
	arch = any
	groups = base
	license = GPL-3.0-or-later
	source = mirrorlist
	sha256sums = 9e29c10ff096c35ddaa89e4db37add2707fe12b7cf0edaeac927f302cdd5fca3

pkgname = aarchd-mirrorlist
