pkgbase = libglibutil
	pkgdesc = Library of glib utilities
	pkgver = 1.0.80
	pkgrel = 1
	url = https://github.com/sailfishos/libglibutil
	arch = aarch64
	license = BSD-3-Clause
	makedepends = glib2-devel
	depends = glib2
	source = git+https://github.com/sailfishos/libglibutil.git
	sha512sums = SKIP

pkgname = libglibutil
