pkgbase = aarchd-keyring
	pkgdesc = AArchD Keyring
	pkgver = 1.0
	pkgrel = 1
	url = http://aarchd.github.io
	install = aarchd-keyring.install
	arch = any
	groups = base-devel
	license = GPL-3.0-or-later
	depends = pacman
	source = aarchd.gpg
	sha256sums = edc900ce6e0a2ab6ad4bc763418704b2b774cb0dbfc5052f1869919a4a2e0fe9

pkgname = aarchd-keyring
