name: Build Packages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up GIT
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Run pkgmeta.sh gen
        run: |
          mkdir -p /tmp/build-tools
          cp .github/workflows/*.sh /tmp/build-tools
          /tmp/build-tools/pkgmeta.sh gen
          cat metadata # for debug, its not consistent idk why
          cp metadata ../build-metadata

      - name: Fetch build-metadata from meta branch
        run: |
          git fetch origin meta
          git show origin/meta:build-metadata > build-metadata

      - name: Get changed packages
        run: |
          pkgs=$(/tmp/build-tools/pkgmeta.sh check | tr '\n' ' ')
          echo "CHANGED_PKGS=$pkgs" >> "$GITHUB_ENV"

      - name: Pull rootfs
        if: env.CHANGED_PKGS != ''
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download -R "aarchd/rootfs" -p "rootfs.tar.gz"
          mkdir -p /tmp/rootfs
          sudo tar -xzf rootfs.tar.gz -C /tmp/rootfs

      - name: Build changed packages
        if: env.CHANGED_PKGS != ''
        run: |
          git clone https://github.com/aarchd/arch-install-scripts --depth 1
          sudo make -j4 -C arch-install-scripts install
          mkdir -p /tmp/pkgs
          sudo mkdir -p /tmp/rootfs/mnt/{PKGBUILDs,build-tools,pkgs}
          sudo mount --bind "$PWD" /tmp/rootfs/mnt/PKGBUILDs
          sudo mount --bind /tmp/build-tools /tmp/rootfs/mnt/build-tools
          sudo mount --bind /tmp/pkgs /tmp/rootfs/mnt/pkgs
          sudo arch-chroot /tmp/rootfs /bin/bash -c \
            "/mnt/build-tools/buildpkg.sh $CHANGED_PKGS"
          sudo umount /tmp/rootfs/mnt/PKGBUILDs
          sudo umount /tmp/rootfs/mnt/build-tools
          sudo umount /tmp/rootfs/mnt/pkgs
      
      - name: Update build-metadata
        if: env.CHANGED_PKGS != ''
        run: |
          sudo chown -R $USER:$USER .
          rm build-metadata
          git switch meta
          mv ../build-metadata .
          git add build-metadata
          git commit --amend --no-edit
          git push origin meta --force

      - name: Sign Packages
        if: env.CHANGED_PKGS != ''
        env:
          GPG_TTY: $(tty)
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: |
          echo "$GPG_PRIVATE_KEY" | gpg --import --batch
          echo "allow-preset-passphrase" > ~/.gnupg/gpg-agent.conf
          echo "pinentry-mode loopback" >> ~/.gnupg/gpg.conf
          echo "no-tty" >> ~/.gnupg/gpg.conf
          gpg-connect-agent reloadagent /bye
          KEYGRIP=$(gpg --list-secret-keys --with-keygrip --with-colons | awk -F: '/^grp/ {print $10; exit}')
          echo "$GPG_PASSPHRASE" | /usr/lib/gnupg/gpg-preset-passphrase --preset "$KEYGRIP"
          cd /tmp/pkgs
          for pkg in *.pkg.tar.zst; do
            gpg --detach-sign "$pkg"
          done

      - name: Push packages
        if: env.CHANGED_PKGS != ''
        env:
          PAT: ${{ secrets.PAT }}
        run: |
          git clone https://$PAT@github.com/aarchd/repo.git --depth=1
          cd repo && mkdir -p PKGS/

          for pkg in /tmp/pkgs/*.pkg.tar.zst; do
            base=$(basename "$pkg" .pkg.tar.zst)
            version=$(echo "$base" | rev | cut -d- -f1-3 | rev)
            name=${base%-$version}
          
            find PKGS/ -type f -name "${name}-*.pkg.tar.zst" ! -name "$(basename "$pkg")" -exec rm -v {} +
            find PKGS/ -type f -name "${name}-*.pkg.tar.zst.sig" ! -name "$(basename "$pkg").sig" -exec rm -v {} +
          done

          cp /tmp/pkgs/* PKGS/
          git add -A -v
          git commit -m "${GITHUB_SHA::7} - $CHANGED_PKGS"
          git push origin main
